@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --fonte: 'Parisienne', cursive;
}

@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');


@font-face {
    font-family: 'PermanentMarker-Regular';
    src: url('../fonte/PermanentMarker-Regular.ttf')format('truetype');
}

body {
    min-height: 100vh;
}

header a, footer a {
    color: rgb(77, 6, 6);
    text-decoration: none;
}

header a:hover, footer a:hover {
    color: red;
    text-decoration: underline;
}

header, h1 {
    font-variant: small-caps;
    font-family: 'PermanentMarker-Regular';
    font-size: 10vw;
    padding: 20px;
}

header > p {
    font-size: 20px;
    text-align: center;
}

section#img01 {
    background-image: url('../imagens/background001.jpg');
    background-position: center center;
    background-size: cover;
}

section#img02 {
    background-image: url('../imagens/background002.jpg');
    background-position: center center;
    background-size: cover;
    
}

section.normal {
    background-image: linear-gradient(to left, #033B3D, #0D4A3A, #2D5731, #526126, #7B6823);
    color: blanchedalmond;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.306);
    width: 500px;
    padding: 10px;

}

section.imagem {
    background-color: rgb(113, 112, 112);
    color: white;
    background-attachment: fixed;
}

section > p {
    padding-bottom: 1.5em;
    font-family: 'Parisienne', cursive;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 35px;
    line-height: 2em;
    font-size: 3vw;
}

footer {
    text-align: center;
}