@charset "UTF-8";

/*Decla. gerais*/
* {
    margin: 0px;
    padding: 0px;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: #233eff;
    background-size: contain;
    background-repeat: no-repeat;
}

h1 {
    color: white;
    text-shadow: 4px 4px 2px #142291;
    padding: 10px;
}

/*Decla. portrait*/
@media screen and (orientation:portrait) {
                body {
        background-image: url(../imagens/cev-portrait.jpg);
        background-position: center bottom;
    }
}

/*Decla. landscape*/
@media screen and (orientation:landscape) {
                body {
        background-image: url(../imagens/cev-landscape.jpg);
        background-position: left bottom;
    }
}