@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;

    margin: 0px;
    padding: 0px;
}

body, html {
    background-color: black;
}

header {
    background-color: gray;
}

header > h1 {
    padding: 10px;
    text-align: center;
    color: darkred;
}

#burguer {
    background-color: rgb(255, 224, 224);
    display: block;
    color: rgb(173, 26, 0);
    text-align: center;
    padding-bottom: 5px;
    cursor: pointer;
}

#burguer:hover {
    background-color: rgba(255, 255, 81, 0.777);
    color: rgb(255, 96, 96);
}

menu {
    display: none;
    text-align: center;
}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a {
    display: block;
    padding: 10px;text-decoration: none;
    background-color: rgba(255, 0, 0, 0.269);
    color: black;
    border-radius: 8px;
    width: 100px;
    font-weight: bold;
    text-align: center;
    border-top: 2px solid black;
    margin: 5px;
}

menu > ul > li > a:hover {
    background-color: tomato;
}

menu > ul > li > a:active {
    background-color: rgb(248, 192, 192);
}

main {
    background-color: rgb(148, 148, 148);
    width: 90vw;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    border-radius: 12px;
}

article > h2 {
    padding-bottom: 15px;
}

article > p {
    text-align: justify;
    text-indent: 30px;
    line-height: 1.3em;
    color: rgb(114, 27, 27);
    margin-bottom: 23px;
}