@charset "UTF-8";

* {
    margin: 10px;
    padding: 10px;
}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    line-height: 1.5em;
    font-weight: bolder;
}

menu {
    display: none;
}

article {
    width: 100%;
}

article::after {
    content: 'Impresso através do site www.cursoemvideo.com / terça-feira,dia 20/06/2023';
}