@charset "UTF-8";
/*CONFIGURAÇÕES DO STYLE PARA IMPRESSORA*/

* {
    margin: 10px;
    padding: 10px;
}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    line-height: 1.5em;
}

menu {
    display: none;
 }

article p {
    text-indent: 30px;
    text-align: justify;
 }

 article {
    width: 100%;
 }

 article::after {
    content: 'Esse artigo foi impresso através do site www.cursoemvideo.com';
 }