@charset "UTF-8";

@font-face {
    font-family: 'fontes/Shut\'Em\ Down';
    src: url('../fontes/Shut\'Em\ Down.ttf') format('truetype');
}

@font-face {
    font-family: 'BloodBlocks';
    src: url('../fontes/BloodBlocks Project.ttf') format('truetype');
    font-size: 3em;
}

@font-face {
    font-family: 'HEAVR___.TTF';
    src: url('../fontes/HEAVR___.TTF') format('truetype');
}

@font-face {
    font-family: 'PermanentMarker';
    src: url('../fontes/PermanentMarker-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'ANTI-SOC';
    src: url('../fontes/ANTI-SOC.TTF') format('truetype');
}

:root {
    --cor1:#5C2600;
    --cor2:#F5A973;
    --cor3:#DB5B00;
    --cor4:#6B5D52;
    --cor5:#B34C00;
    --cor6:#006600;

    --fonte-padrão: arial, verdana, helvetica, sans-serif;
    --fonte-destque: 'PermanentMarker';
}

* {
    margin: 0px;
    padding: 0px;
}

h6 {
    color: white;
}

body {
    height: 100vh;
    background: linear-gradient(95deg, black, transparent), url('../imagens/wallpaper3.jpg') center center no-repeat fixed;
    background-size: cover;
}

header {
    background-image:linear-gradient(to left, black, rgba(65, 8, 8, 0.813));
    box-shadow: 0px 0px 30px black;
    min-width: 150px;
    margin-bottom: 10px;
}

header img {
    min-height: 280px;
    max-width: 800px;
    margin: auto;
    display: block;
}

img {
    width: 100%;
}

main img.pequena {
    max-width: 350px;
}

header > h1 {
    font-family: 'fontes/Shut\'Em\ Down';
    color: white;
    font-weight: bolder;
    text-align: center;
}

header > h2 {
    font-family: 'BloodBlocks';
    color: red;
    font-size: 3em;
    font-weight: normal;
    text-align: center;
}

header > p {
    font-family: 'HEAVR___.TTF';
    color: antiquewhite;
    font-size: 1.5em;
    margin-top: 15px;
    text-align: center;
    text-shadow: 20px 7px 5px black;
    max-width: 800px;
    margin: auto;
}

#principal {
    font-family: 'HEAVR___.TTF';
    background-image: linear-gradient(to right, darkgreen, transparent);
    font-weight: bold;
}

nav {
    background-image: linear-gradient(to right, darkgreen, black);
    border-radius: 5px;
    text-align: center;
    max-width: 800px;
    margin-top: 10px;
    margin: auto;
    margin-bottom: 10px;
    padding: 4px;
    box-shadow: -7px 6px 11px 0px black;
}

footer > a {
    font-weight: bold;
    color: rgb(106, 5, 5);
    text-decoration: none;  
}

footer > a:hover {
    color: red;
    text-decoration: underline;
}

nav > a {
    color: rgb(11 255 55);;
    font-weight: bold;
    font-family: 'ANTI-SOC';
    text-decoration: none;
    text-align: center;
    padding: 6px;
}

nav > a:hover {
    color: red;
    text-decoration: underline;
    background-color: rgba(220, 20, 60, 0.428);
    padding: 5px;
    border-radius: 8px;
    transition-duration: 1s;
}

nav > a:active {
    color: yellow;
}

main {
    background-color: #000000dc;
    min-height: 280px;
    max-width: 800px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 0px 20px black;
}

main p {
    color: darkred;
    font-family: var(--fonte-destque);
    text-align: justify;
    text-indent: 33px;
    line-height: 2em;
    padding: 20px;
}

.basico {
    font-family: 'fontes/Shut\'Em\ Down';
    background-image: linear-gradient(to right, darkgreen, transparent);
}

h2 {
    text-align: center;
}

h3 {
    font-family: 'BloodBlocks';
    color: red;
    font-weight: normal;
    font-size: 3em;
    background-image: linear-gradient(to right, darkgreen, transparent);
    padding: 10px;
}

h4 {
    font-family: 'ANTI-SOC';
    color: red;
    font-size: 2em;
    text-align: center;
}

article > ol > li {
    color: rgba(103, 101, 101, 0.956);
    background-image: linear-gradient(to right, darkgreen, transparent );
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    list-style-position: inside;
    padding: 10px;
}

section > article {
    background-color: #6B5D52;
    border-radius: 5px;
}

aside {
    background-image: linear-gradient(to left, #DB5B00, #006600);
    margin-bottom: 15px;
    margin: auto;
    text-align: center;
    border-radius: 15px;
    border: solid 3px black;
    max-width: 800px;
}

aside p {
    text-indent: 30px;
    font-weight: bolder;
    text-align: justify;
    padding: 15px;
    line-height: 2em;
}

div.video {
    background-color: var(--cor1);
    margin: 0px -20px 0px -20px;
    padding: 20px;
    position: relative;
    padding-bottom: 55%;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

footer {
    background-image: linear-gradient(to left, rgb(56, 51, 51), rgba(65, 8, 8, 0.813), transparent);
}

footer > p {
        text-align: center;
        color: white;
        font-size: 1em;
        font-weight: bolder;
        margin-top: 20px;
}

footer > p > a {
    text-decoration: none;
    color: rgb(9, 5, 244);
}

footer > p > a:hover {
    color: rgb(255, 0, 0);
    text-decoration: underline;
}

footer > p a:active {
    color: yellow;
}
    

