@charset "UTF-8";
/*ESTILO PARA TELA*/

* {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

article p {
    text-indent: 30px;
    text-align: justify;
}