@charset "UTF-8";

@font-face {
    font-family: 'Ancient Medium';
    src: url('../fontes/Ancient\ Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'tngani';
    src: url('../fontes/tngani.ttf')format('truetype');
}

@font-face {
    font-family: 'Nightmare';
    src: url('../fontes/Nightmare\ 5.ttf')format('truetype');
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    background-image: linear-gradient(to bottom, darkgreen, green, lightgreen);
}

section#img001 {
    background-image: url('../imagens/Gandalf.jpg');
    background-position: center center;
    background-size: cover;
}

section#img002 {
    background-image: url('../imagens/GandalftheGrey.png');
    background-position: center center;
    background-size: cover;
}

section#img003 {
    background-image: url('../imagens/automatic-fantasy-gandalf-gray-wallpaper-preview.jpg');
    background-position: center center;
    background-size: cover;
}

section#img004 {
    background-image: url('../imagens/O-Um.jpg');
    background-position: center center;
    background-size: cover;
}

section#img005 {
    background-image: url('../imagens/Uruk-fullpistol.jpeg');
    background-position: center center;
    background-size: cover;
}

section#img006 {
    background-image: url('../imagens/Olho.jpg');
    background-position: center center;
    background-size: cover;
}

section#img007 {
    background-image: url('../imagens/Bilbopagasapo.jpg');
    background-position: center center;
    background-size: cover;
}

header > h1 {
    color: bisque;
    text-align: center;
    font-family: 'Ancient Medium';
    font-weight: normal;
    padding-top: 20px;
    font-variant: small-caps;
    font-size: 10vw;
}

header > p {
    padding-bottom: 30px;
    text-align: center;
    font-family: 'tngani';
}

header > p:hover {
    color: yellow;
}

html, body {
    min-height: 100vh;
    background-color: black;
    color: white;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 33px;
    font-size: 4vw;
}

section > P {
    padding-bottom: 1em;
}

section.normal {
    background-color: rgb(176, 105, 39);
}

section.imagem {
    background-color: rgb(46, 39, 39);
    box-shadow: inset 6px 6px 13px 0px black;
    background-attachment: fixed;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.342);
    display: inline-block;
    padding: 5px;
    text-shadow: 2px 2px 0px black;
}

footer {
    background-image: linear-gradient(to bottom, darkgreen, green, lightgreen);
}

footer > p {
    padding: 5px;
    color: white;
    text-align: center;
    font-family: 'Nightmare';
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
}

footer > p > a {
    text-decoration: none;
}

footer > p > a:hover {
    color: yellow;
    text-decoration: underline;
}

footer > p:hover {
    color: red;
    text-decoration: underline;
    
}