@charset "UTF-8";

@font-face {
    font-family: 'Ancient Medium';
    src: url('../fontes/Ancient\ Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'tngan';
    src: url('../fontes/tngan.ttf')format('truetype');
}

@font-face {
    font-family: 'Nightmare';
    src: url('../fontes/Nightmare\ 5.ttf')format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Bigelow+Rules&display=swap');

:root {
    --fonte: ;
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: black;
}

section#img001 {
    background-image: url('../imagens/Gandalfporra.jpg');
    background-position: center center;
    background-size: cover;
}

section#img002 {
    background-image: url('../imagens/gandalf2.jpg');
    background-position: center left;
    background-size: cover;
}

section#img003 {
    background-image: url('../imagens/gandalf3.jpg');
    background-position: top top;
    background-size: cover;
}

section#img004 {
    background-image: url('../imagens/Saruman2.jpg');
    background-position: center center;
    background-size: cover;
}

section#img005 {
    background-image: url('../imagens/saruman-grima.jpg');
    background-position: center center;
    background-size: cover;
}

section#img006 {
    background-image: url('../imagens/Uruks.jpg');
    background-position: top top;
    background-size: cover;
}

section#img007 {
    background-image: url('../imagens/UmAnel.jpg');
    background-position: center center;
    background-size: cover;
}

section#img008 {
    background-image: url('../imagens/Bilbo.jpg');
    background-position: center center;
    background-size: cover;
}

header > h1 {
    color: bisque;
    text-align: center;
    font-family: 'Ancient Medium';
    font-weight: normal;
    padding-top: 20px;
    font-variant: small-caps;
    font-size: 10vw;
}

header > p {
    padding-bottom: 30px;
    text-align: center;
    font-family: 'tngan';
}

header > p:hover {
    color: yellow;
}

html, body {
    min-height: 100vh;
    background-color: black;
    color: white;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 33px;
    font-size: 3vw;
    font-family: 'Bigelow Rules', cursive;
}

section > P {
    padding-bottom: 1em;
}

section.normal {
    background-image: linear-gradient(45deg, black, rgb(255, 60, 0), rgb(255, 247, 0))
}

section.imagem {
    background-color: rgb(46, 39, 39);
    box-shadow: inset 6px 6px 13px 0px black;
    background-attachment: fixed;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.342);
    display: inline-block;
    padding: 5px;
    text-shadow: 2px 2px 0px black;
}

footer {
    background-image: linear-gradient(to bottom, darkgreen, green, lightgreen);
}

footer > p {
    padding: 5px;
    color: white;
    text-align: center;
    font-family: 'Nightmare';
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
}

footer > p > a {
    text-decoration: none;
}

footer > p > a:hover {
    color: yellow;
    text-decoration: underline;
}

footer > p:hover {
    color: red;
    text-decoration: underline;
}