@charset "UTF-8";

@font-face {
    font-family: 'PermanentMarker';
    src: url('../fontes/PermanentMarker-Regular - Copia.ttf') format('truetype');
}

:root {
    --cor1: #BDADEB;
    --cor2: #B1A2DB;
    --cor3: #9C8FC2;
    --cor4: #7D739C;
    --cor5: #4d4760;
    --cor6: rgb(162, 24, 24);
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: rgb(100, 9, 9);
}

nav {
    background-image: linear-gradient(to right, #6c4ec4, transparent);
    text-align: center;
    max-width: 800px;
    margin: auto;
    padding: 5px;
    margin-bottom: 20px;
}

nav > a {
    color: rgb(221, 26, 221);
    padding: 10px;
    text-align: center;
    max-width: 800px;
    margin: auto;
    font-size: 1em;
    font-weight: bolder;
}

nav > a:hover {
    color: red;
}

nav > a:active {
    color: yellow;
}

header {
    background-image: linear-gradient(to left, #7D739C, #BDADEB);
    margin-bottom: 20px;
    max-width: 800px;
    margin: auto;
    border-radius: 5px;
    padding: 10px;
    
}

header h1 {
    text-align: center;
    font-family: 'PermanentMarker';
}

header p, q {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    text-align: justify;
    text-indent: 30px;
    padding: 10px;
    text-align: center;
}

main {
    background-image: linear-gradient(to right, #9C8FC2, #4d4760);
    max-width: 800px;
    margin: auto;
    border-radius: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
    box-shadow: -10px 11px 12px 0px black;
    padding-bottom: 5px;
    border: solid 3px black;
}

main h1 {
    text-align: center;
    font-family: 'PermanentMarker';
}

main p {
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    text-indent: 30px;
    line-height: 1.5em;
    padding: 10px;
}

img {
    width: 95%;
}

img.pequena {
    max-height: 300px;
    max-width: 300x;
    margin: auto;
    display: block;
}

main  section  article {
    background-color: #4d4760;
    margin-top: 20px;
}

h2 {
    font-family: 'PermanentMarker';
}

div.video {
    margin: 0px -8px 30px -20px;
    padding: 20px;
    position: relative;
    padding-bottom: 59%;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-image: linear-gradient(to right, #BDADEB, rgba(255, 192, 203, 0.665));
    max-width: 800px;
    margin: auto;
    margin-bottom: 20px;
    border: 3px solid black;
    border-radius: 10px;
}

aside p {
    color: white;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    padding: 30px;
}

aside h3 {
    color: white;
    text-align: center;
}

footer {
    background-image: linear-gradient(to left, #3400c4, transparent);
}

footer > p {
    color: white;
    font-size: 1em;
    text-align: center;
}

footer a {
    color: darkred;
}

footer a:hover {
    text-decoration: none;
    color: red;
}

footer a:active {
    color: yellow;
}