@charset "UTF-8";

@font-face {
    font-family: 'Por Siempre Gótica';
    src: url('font/Por Siempre Gótica.ttf') format('truetype');
}

@font-face {
    font-family: 'PermanentMarker';
    src: url('font/PermanentMarker-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'MB-ThinkTwice';
    src: url('font/MB-ThinkTwice_Regular.ttf') format('truetype');
}

header {
    width: 700px;
}

h1 {
    font-family: 'Por Siempre Gótica';
    font-size: 3em;
    border: solid 4px black;
    border-radius: 8px;
    color: rgb(245, 184, 0);
    background-color: darkred;
    box-shadow: 15px 15px 15px black;
    text-align: center;
}

h3 {
    font-family: 'PermanentMarker';
}

h5 {
    border: 3px solid black ;
    border-radius: 5px;
    box-shadow: 10px 10px 10px black;
    background-color: darkred;
    width: 130px;
    font-size: 19px;
}

h1:hover {
    background-color: red;
    color: chartreuse;
}

h5:hover {
    color: red;
}

h5::after {
    content: ' ✌';
}

nav:hover {
    color: greenyellow;
} 

nav::after {
    content: ' ☜ ';
}

a:hover {
    color: springgreen;
}

a:active {
    color: rgb(255, 0, 0);
}

#principal {
    font-family: Arial, Helvetica, sans-serif;
    background-color: blueviolet;   /*id principal */
    text-decoration: underline;
    text-align: left;
    color: rgb(38, 236, 85);
    font-size: 1em;
}

body {
    background-color: teal;
    text-align: justify;
}

section {
    border: solid 8px rgb(57, 15, 172);
    padding: 10px;
}

main {
    background-image: linear-gradient(45deg, darkgreen, rgb(53, 58, 224), rgb(168, 163, 163) ); 
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 50px;
    padding-right: 50px;
    text-indent: 30px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 20px;
    box-shadow: 23px 21px 13px black;
}

.basico {
    background-color: rgb(205 182 43 / 49%);
    color: rgb(217, 20, 20);
    font-weight: bold;
    text-align: center;
    width: 700px ;
}

.intermediario {
    background-color: rgba(50, 205, 50, 0.423);
    color: rgb(245, 184, 0);
    text-align: center;
}

.avançado {
    background-color: rgba(186, 5, 53, 0.781);
    color: rgb(147, 142, 142);
    text-align: center;
}