@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Aguafina+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');

@font-face {
    font-family: 'Nightmare';
    src: url('../fonte/Nightmare\ 5.ttf')format('truetype');
}

:root {
    --fonte1:'Aguafina Script', cursive;
    --fonte2: 'Pirata One', cursive;
}

* {
    padding: 0px;
    margin: 0px;
}

html, body {
    background-image: linear-gradient(to bottom, rgba(60, 38, 38, 0.777), rgba(197, 197, 22, 0.765), rgb(153, 5, 5));
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.595), rgb(120, 22, 22));
    padding-bottom: 10px;
}

header > h1 {
    font-family: var(--fonte1);
    font-size: 8vw;
    color: red;
    text-align: center;
    padding-top: 20px;
    font-variant: small-caps;
}

header > p {
    font-family: var(--fonte2);
    font-size: 1.5em;
    color: white;
    padding: 10px;
    line-height: 2em;
    text-align: center;
}

section.normal {
    background-color: rgba(255, 255, 255, 0.279);
    color: black;
}

section.imagem {
    background-color: darkgrey;
    color: rgb(188, 49, 49);
    background-attachment: fixed;
}

section{
    font-size: 3vw;
    font-family: var(--fonte2);
    font-weight: bolder;
    padding-left: 33px;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
}

section > p {
    padding-bottom: 1.5em;
}

section.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.341);
    width: 340px;
    text-shadow: 3px 3px 3px black;
}

section#img01 {
    background-image: url('../imagem/img01.jpg');
    background-position: center center;
    background-size: cover;
}

section#img02 {
    background-image: url('../imagem/img02.jpg');
    background-position: center center;
    background-size: cover;
    
}

section#img02 {
    background-image: url('../imagem/img02.jpg');
    background-position: center center;
    background-size: cover;
}

section#img03 {
    background-image: url('../imagem/img03.jpg');
    background-position: center center;
    background-size: cover;
}

section#img04 {
    background-image: url('../imagem/img04.jpg');
    background-position: center center;
    background-size: cover;
}

section#img05 {
    background-image: url('../imagem/img05.jpg');
    background-position: top center;
    background-size: cover;
}

section#img06 {
    background-image: url('../imagem/img06.jpg');
    background-position: center center;
    background-size: cover;
}

section#img07 {
    background-image: url('../imagem/img07.jpg');
    background-position: center center;
    background-size: cover;
}

section#img08 {
    background-image: url('../imagem/img13.jpg');
    background-position: center center;
    background-size: cover;
}

section#img10 {
    background-image: url('../imagem/img09th.jpg');
    background-position: top top;
    background-size: cover;
}

section#img11 {
    background-image: url('../imagem/img10.jpg');
    background-position: center center;
    background-size: cover;
}

section#img12 {
    background-image: url('../imagem/img12.jpg');
    background-position: center center;
    background-size: cover;
}

section#img13 {
    background-image: url('../imagem/img13.jp'); 
    background-position: center center;
    background-size: cover;
}

section#img14 {
    background-image: url('../imagem/img12.jpg');
    background-position: center center;
    background-size: cover;
}

section#img15 {
    background-image: url('../imagem/img12.jpg');
    background-position: center center;
    background-size: cover;
}

h3 {
    font-family: 'Nightmare';
    color: white;
    font-size: 2em;
    text-align: center;
}

footer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color: black;
    padding: 5px;
}

footer > p {
    color: white;
    text-align: center
}

footer > p > a {
    text-decoration: none;
}

footer > p > a:hover {
    text-decoration: underline;
    color: rgb(104, 7, 7);
}

footer > p > a:active {
    color: rgb(244, 73, 73);
}