@charset "UTF-8";

:root {
    --cor1:#3F7539;
    --cor2:#C8F7C3;
    --cor3:#86F579;
    --cor4:#5F755D;
    --cor5:#69C25F;
}

* {
    padding: 0px;
    margin: 0px;
}

@font-face {
    font-family: 'ANTI-SOC';
    src: url('../fontes/ANTI-SOC.TTF') format('truetype');
}

@font-face {
    font-family:'PermanentMarker-Regular';
    src: url('../fontes/PermanentMarker-Regular - Copia.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

body {
    background-image: linear-gradient(to top, #5F755D, #86F579);
    height: 100vp;
    background-image: url('../imagens/wallpaper.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

nav {
    background-image:linear-gradient(to right, #5F755D, transparent, #5F755D);
    max-width: 1000px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
    padding: 2px;
}

nav a {
    text-decoration: none;
    color: rgb(106, 4, 4);
    font-family: 'PermanentMarker-Regular';
    padding: 26px;
    transition-duration: 0.6s;
}

nav > a:hover {
    color: rgb(217, 54, 54);
    text-decoration: underline;
    background-color: rgba(255, 0, 0, 0.415);
    border-radius: 3px;
    padding: 0px;
}

nav a:active {
    color: yellow;
}

header {
    background-image: linear-gradient(to right, #5F755D, transparent,#5F755D);
    max-width: 1000px;
    padding: 10px;
    margin: auto;
    margin-bottom: 15px;
    border: solid 3px black;
}

img {
    width: 100%;
}

header > img {
    min-width: 320px;
    padding: 20px;
    max-width: 800px;
    display: block;
    margin: auto;
}

header, h1 {
    font-family: 'ANTI-SOC';
    text-align: center;
    margin-bottom: 10px;
}

main {
    background-color: #C8F7C3;
    min-width: 300px;
    max-width: 1000px;
    display: block;
    margin: auto;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
}

#principal {
    background-image: linear-gradient(to right, #3F7539, transparent);
}

.pequena {
    max-width: 700px;
}

.basico {
    background-image: linear-gradient(to right, darkred, transparent);
}

div.video {
    background-image:linear-gradient(to right, #3F7539, transparent);
    margin: 0px -20px 30px -10px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
}

div.video > video {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

p {
    font-family: 'PermanentMarker-Regular';
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    padding: 20px;
}

h2 {
    color: rgb(45, 30, 30);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    font-family: 'Amatic SC', cursive;
    background-image: linear-gradient(to right, red, transparent);
}

aside {
    background-image: linear-gradient(to right, #5F755D, #86F579);
    padding: 10px;
}

aside p {
    color: white;
}

aside ul {
    list-style-position: inside;
}

aside ul li {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
}

footer {
    background-image: linear-gradient(to right, #3F7539, transparent);
}

footer p {
    text-align: center;
    color: white;
}

footer p a {
    text-decoration: none;
    color: rgb(122, 7, 7);
}

footer p a:hover {
    color: red;
    text-decoration: underline;
}

footer p a:active {
    color: yellow;
}