@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor1: #AAADBF;
    --cor2: #4B7DBF;
    --cor3: #073359;
    --cor4: #0C2840;
    --cor5: #254559;

    --font0: Arial, Helvetica, sans-serif;
    --font1:'bBambooGrove';
    --font2: 'ANTI-SOC';
    --font3: 'BloodBlocks';

}

@font-face {
    font-family: 'bBambooGrove';
    src: url('../fonte/bBambooGrove.ttf')format('truetype');
}

@font-face {
    font-family: 'ANTI-SOC';
    src: url('../fonte/ANTI-SOC.TTF') format('truetype');
}

@font-face {
    font-family: 'BloodBlocks';
    src: url('../fonte/BloodBlocks\ Project.ttf') format('truetype');
}

h4 {
    font-family: var(--font2);
    text-align: center;
}

body {
    height: 100vh;
    background-color: var(--cor1);
}

header img {
    margin: auto;
    display: block;
    padding-bottom: 20px;
    padding-top: 20px;

}

header {
    background-image: linear-gradient(to right, #254559, #4B7DBF);
    margin-bottom: 30px;
}

main {
    border: 8px solid #0C2840;
    background-color: #2545598c;
    padding: 20px;
    border-radius: 20px;
    max-width: 800px;
    min-width: 320p;
    margin: auto;
    margin-bottom: 30px;
}

main p {
    text-align: justify;
    text-indent: 32px;
    line-height: 2em;
}

main h2 {
    font-family: var(--font1);
}

aside {
    padding: 20px;
    max-width: 600px;
    min-width: 320px;
    margin: auto;
    line-height: 1.5em;
    background-color: #254559;
    border-radius: 20px;
}

aside h2 {
    background-image: linear-gradient(to bottom, var(--cor5), var(--cor2));
    border-radius: 22px;
    padding: 20px;
    
    text-align: justify;
    text-indent: 30px;
    margin: auto;
    max-width: 600px;
    min-width: 320px;
}

aside h3 {
    padding-top: 10px;
    font-family: var(--font3);
    font-weight: normal;
    color: darkred;
    font-size: 2em;
    text-align: center;
}

aside ul {
    list-style-position: inside;
    text-align: center;
}

aside li {
    font-weight: bolder;
}

footer {
    margin-top: 30px;
    color: white;
    background-color: black;
}

footer p {
    text-align: center;
}