@charset "UTH-8";

* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'SiempreGótica';
    src: url('../fonte/Por\ Siempre\ Gótica.ttf')format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');

:root {
    --cor1: yellow;
    --cor2:lightblue;

    --fonte1: 'SiempreGótica';
    --fonte2: 'Leckerli One', cursive;
}

html, body {
    min-height: 100vh;
    background-image: linear-gradient(to top, yellow, lightblue);
    background-attachment: fixed;
}

header {
    background-image: linear-gradient(to top, rgb(224, 203, 64), rgb(255, 111, 0));
    color: white;
    font-variant: small-caps;
}

header h1 {
    font-size: 8vw;
    text-align: center;
    font-family: var(--fonte1);
    font-weight: normal;
}

header h2 {
    text-align: center;
}

section#img01 {
    background-image: url('../imagens/img01.jpg');
    background-position: top center;
    background-size: cover;
}

section#img02 {
    background-image: url('../imagens/img02.jpg');
    background-position: center center;
    background-size: cover;
}

section#img03 {
    background-image: url('../imagens/img03.jpg');
    background-position: center center;
    background-size: cover;
}

section#img04 {
    background-image: url('../imagens/img04.jpg');
    background-position: center center;
    background-size: cover;
}

header p {
    text-align: center;
    padding-bottom: 30px;
}

section.normal {
    background-color: rgba(248, 199, 83, 0.373);
    color: black;
}

section.imagem p {
    background-color: rgba(0, 0, 0, 0.149);
    padding: 10px;
    border-radius: 10px;
}

section.imagem {
    background-color: grey;
    color: white;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 1.5em;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 2vw;
}
h3 {
    margin-bottom: 30px;
}
section h3 {
    margin-bottom: 30px;
    font-family: var(--fonte1);
    background-color: rgba(0, 0, 0, 0.316);
    width: 300px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    margin: auto;
}

section p {
    text-align: justify;
    text-indent: 30px;
    font-family: 'Leckerli One', cursive;
    line-height: 1.5em;
    padding-bottom: 1.5em;
}

footer {
    background-color: black;
    color: white;
    padding: 5px;
}

footer p {
    text-align: center;
}

footer a {
    text-decoration: none;
    color: rgb(112, 10, 10);
}

footer a:hover {
    text-decoration: underline;
    color: rgb(255, 83, 83);
}

footer a:active {
    color: snow;
}
