@charset "UTH-8";

* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'SiempreGótica';
    src: url('../fonte/Por\ Siempre\ Gótica.ttf')format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');

:root {
    --cor1: rgba(255, 255, 0, 0.68);
    --cor2:lightblue;

    --fonte1: 'SiempreGótica';
    --fonte2: 'Leckerli One', cursive;
}

html, body {
    min-height: 100vh;
    background-image: linear-gradient(to top, rgba(255, 255, 0, 0.599), lightblue);
    background-attachment: fixed;
}

header {
    color: white;
    font-variant: small-caps;
    background-color: black;
    text-align: center;
}

header h1, h2 {
    font-size: 8vw;
    text-align: center;
    font-family: var(--fonte1);
    font-weight: normal;
    max-width: 800px;
    margin: auto;
}

header p {
    text-align: center;
    padding-bottom: 10px;
}

 section#img01 {
    background-image: url('../imagens/img01.jpg');
    background-position: center right;
}
 section#img02 {
    background-image: url('../imagens/img02.jpg');
    background-position: center center;
}
 section#img03 {
    background-image: url('../imagens/img03.jpg');
    background-position: center center;
}
 section#img04 {
    background-image: url('../imagens/img04.jpg');
    background-position: center center;
}
 section#img05 {
    background-image: url('../imagens/img05.jpg');
    background-position: top top;
}
 section.normal {
    background-color: rgba(248, 199, 83, 0.209);
    color: black;
}

section.imagem  p {
    line-height: 1.5em;
    font-size: 1.3em;
    max-width: 800px;
    background-color: rgba(0, 0, 0, 0.382);
    padding: 2px;
    text-shadow: 3px 2px 1px black;
    border-radius: 10px;
    text-indent: 30px;
    text-align: center;
    margin: auto;
}

section p {
    color: azure;
    text-align: justify;
    text-shadow: 3px 1px 4px black;
    text-indent: 35px;
    font-size: 1.3em;
    font-family: '--fonte2';
    line-height: 1.5em;
    padding-bottom: 1.5em;
    padding: 10px;
    max-width: 800px;
    margin: auto;
}

section.imagem {
    background-color: rgb(56, 54, 54);
    color: white;
    background-size: cover;
    background-attachment: fixed;
}

section {
    background-image: linear-gradient(to top, rgb(224, 203, 64), rgb(255, 111, 0));
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 1.5em;
    font-size: 2vw;
}

section h3 {
    color: aliceblue;
    padding: 5px;
    margin-bottom: 10px;
    text-shadow: 1px 1px 3px black;
    font-family: var(--fonte1);
    max-width: 200px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    margin: auto;
}

footer {
    background-color: black;
    color: white;
    padding: 5px;
}

footer p {
    text-align: center;
}

footer a {
    text-decoration: none;
    color: rgb(112, 10, 10);
}

footer a:hover {
    text-decoration: underline;
    color: rgb(255, 83, 83);
}

footer a:active {
    color: snow;
}
